/* Global Styles for Mobile */
:root {
    --bg-color: hsl(58, 100%, 62%); 
    --text-color: #fff;
    --font-family: 'Oswald', sans-serif;
    --accent-color: #fbc02d; /* Highlight color */
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 1em;
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    position: relative;
    padding: 1em;
    background-color: #363632;
    color: #000;
}

/* Image Container */
.image-container {
    position: relative;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
}
  
/* Data and Weather Sections */
.data, .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(57, 156, 255, 0.9);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 1em 0;
}

.data ul, .weather ul {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.data ul strong, .weather ul strong {
    text-align: right;
    font-weight: bold;
}

.data ul li, .weather ul li {
    display: contents;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather img {
    margin-left: 0.5rem;
}

/* Hero Image */
picture img {
    width: 100%;
    height: auto;
}

h1 {
    margin: 0.5rem ;
    color: #ff3535;
    font-size: 2.5em;
    text-transform: uppercase;
}

h1::after {
    content: ""; /* Emoticon for wider views */
    font-size: 2rem;
    margin-left: 0.5rem;
    display: none;
}

/* Footer */
footer p {
    margin: 0.5em 0;
    font-size: 0.9em;
}
