/* Larger View Styles */
@media (min-width: 600px) {
    body {
        background-color: #676363;
        color: #000;
    }
    h1 {
        margin: 0.5rem ;
        color: #d8d2d2;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    header, footer {
        padding: 2em;
        background-color: #ff3d3d;
        color: var(--text-color);
    }

    /* Main Styling */
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2em;
        position: relative;
    }

    /* Data Section */
    .data {
        position: absolute;
        top: 10%;
        left: 3%;
        width: auto;
        padding: 20px;
    }

    /* Weather Section */
    .weather {
        position: absolute;
        bottom: 10%;
        right: 3%;
        width: auto;
        padding: 20px;
    }

    h1::after {
        display: inline; /* Show emoticon in wider view */
    }
}
