
@media only screen and (min-width: 48rem) { 
    header h1 {
        font-size: 3em; 
    }

    
    nav ul li {
        margin-right: 30px;
    }

    nav ul li a {
        font-size: 1.5em; 
    }

   
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

   
    .rocorn {
        max-width: 100%;
        height: auto; 
    }
}

@media only screen and (min-width: 64rem) { 
    
    nav ul li {
        margin-right: 40px;
    }

    nav ul li a {
        font-size: 1.8em;
    }

   
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
